HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

mvnw.cmd
mvnw
hs_err_pid23792.log
hs_err_pid25156.log
hs_err_pid27096.log
hs_err_pid41348.log
.mvn
HELP.md
guli_parent.iml
**/**.iml

